.heroimg img {
    
    width: 50vw;
    
}
.hero-right{
    background-color: #bbf2d1;
    position: relative;
    height: 411px;
    width: 50%; /* Adjust as needed */
    margin: 0 auto;
    gap: 30px;
    
    

}
.container , .container_2{
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
    display: flex;
    padding-top: 30px;
    
}
.hero-right h2,.para,.btn{
    text-align: center;
    padding-top: 45px;
    color: #1e3932;
}
.hero-right .para{
font-weight: 400;
size: 19px;
line-height: 33px;
align-items: center;
padding-left: 80px;
padding-right: 80px;
font-style: normal;

}

.container .btn{
    color: #1e3932;
  background-color: #bbf2d1;
  border-radius: 50px;
  border: 1px solid black;
  padding: 7px 16px ;
}
.btn:hover{
    background-color: #e0ebe4;
}

  

