.heroimg_2 img {
    width: 689px;
}
.left_2 {
background-color: #ecaed8;
position: relative;
height: 599px;
width: 703px;
margin: 0 auto;
gap: 30px;
}
.left_2 .para_2{
    font-weight: 400;
    size: 24px;
    line-height: 36px;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    font-style: normal;
}
.btn_2:hover{
    background-color: #c4cec7;
}
.left_2 h1,.para_2{
    text-align: center;
    padding-top: 45px;
    color: #552200;
}
.left_2 h1{
    padding-top: 170px;
    
    
}
.btn_2{
    text-align: center;
    padding-top: 45px;
    color: #552200;
    background-color: #ecaed8;
    border-radius: 50px;
    border:1px solid black;
    padding: 7px 16px;
}